# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Model cache directory
hf_cache/

# Variables de entorno — credenciales
.env

# MLflow
mlruns/
mlartifacts/

# Entornos virtuales
.venv/

# Egg info
poc_desproyecia.egg-info/  

# IDE y herramientas
.claude/
.vscode/
.idea/
.github/

# Archivos temporales
*.tmp
*.log

#notebooks no se usaron
notebooks/
